<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Beatshake.Beatshake" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.BODY_SENSORS" />
	<application android:label="Beatshake" android:icon="@drawable/icon"></application>
</manifest>